body{
    margin:0;
    padding:0;
    box-sizing: border-box;
background-color:lavenderblush}
table{
border-collapse: collapse;
padding:0;
}
table tr img{
    width:100px;
    height:5rem;
}
div.languages{
    position:absolute;
    top:2%;
    right:3%;
}
div.languages a{
    color:rgb(170, 21, 21);
    font-size:1.1rem;
    text-decoration: none;
}
body a#close{
    font-size:2rem;
    position:fixed;
    right:17%;
    top:12%;
    z-index:3;
    color:black;
}
body a#close:hover{
    color:red;
    font-size:2.3rem;
    transition:font-size 0.3s;
}
table tr td:hover{
    font-weight:bold;
     transition:font-weight 0.5s;
}
table th, table td{
    border:2px solid black;
    text-align: center;
    vertical-align: middle;
    color:black;
}
table img{
    object-fit: contain;
}
table th:first-child{
    padding:0.25rem;
}
#tableBody tr:hover{
    background-color:rgb(170, 21, 21);
    transition:background-color 0.7s;
}
#tableBody tr:hover td{
    color:white;
    transition:color 0.9s;
}
table th:nth-child(2), table th:nth-child(2){
    padding:0.25rem 1rem;
}
table tr td{
    font-size:1.2rem;
}
table th{
    padding:0.1rem 0.6rem;
    color:white;
    background-color:rgb(170, 21, 21);
    text-transform: capitalize;
}
body div{
    display: flex;
    justify-content: center;
    align-items: center;
}
table tr{
    cursor:pointer;
}
table tr th:hover{
transition:all 0.4s;
background-color: white;
color:red;
}
#modal{
    width:70%;
    height:20rem;   
    background-color:rgb(238, 235, 235);
    margin:0 auto;
    display: none;
    position:fixed;
    top:10%;
    left:50%;
    transform: translateX(-50%);
}
#modal table th{
    padding:0.5rem;
}
#modal table td{
    padding:0.5rem;
}
caption{
    font-size:2rem;
    padding:1rem 0;
}
form#search{
display: flex;
justify-content: center;
padding:1.5rem;
height: 50px;
align-items: center;
}
form#search input{
    width:50%;
    padding:1rem 0.8rem;
    border-radius:10px;
    border:none;
    outline:none;
    background-color:white;
    font-size:1rem;
}
form#search label{   
    vertical-align: middle;
    font-size:1.4rem;
    padding-right:2rem;
}
tr td select option{
    width: 100%;
    border:none;
    outline: none;
    color:red;
}
.status::first-letter{
    text-transform: capitalize;
}
table tr td:last-child{
    text-transform: capitalize;
}
#modal table tr td:nth-child(3){
    text-transform: capitalize;
}

.login-form{
    width:100%;
    height:1285px;
    position: fixed;
    top:0%;
    padding-top:5rem;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    background-color: white;
}

#login form{
    
    width:40%;
    margin:0 auto;
    border:1px solid black;
}

#login form input,#login h1,  #login form label{
display: block;
}
#login form h1{
    text-align: center;
}


#login form input{
    margin:0 auto;
    width:65%;
    padding:0.7rem 0;
    border:none;
    font-size:0.9rem;
    outline:none;
    padding-left:0.5rem;
    border-radius: 0.5rem;
    background-color: #E7E9EB;

}
#login form label,#login form a{
padding-left:6rem;
padding-top:0.5rem;
font-weight: bold;
padding-bottom:0.4rem;}

#login form div{
    display: block;
    margin:0 auto;
    width:60%;
}
#login form input[type="button"]{
    display: block;
    margin:1rem auto;
    width:68%;
cursor:pointer;
font-size: 1.3rem;
margin-bottom:3rem;
margin-top:2rem;
}
#login form a{
    margin-top:0.5rem;
    font-weight: normal;
}
#login form input[type="password"]{
    margin-bottom:1rem;
}

#login form h1{
    margin:0;
    margin-bottom:2.5rem;
    padding:2rem 0;
    background-color: #F65B69;
}
#login form span{
    padding-left:6rem;
    color:gray;
    padding-bottom:0.4rem;
}